.hero-title br {
  /*display: none;*/
}

.subscribe-form:focus {
  border: 0.2rem solid #191bb4;
}

.subscribe-form::placeholder {
  font-size: 1.1rem;
  color: #a6afc2;
}

@media (min-width: 1845px) {
  .hero-wrapper {
    max-width: 41% !important;
  }
}

@media (min-width: 1472px) and (max-width: 1844px) {
  .hero-wrapper {
    max-width: 53% !important;
  }
}

@media (min-width: 1200px) and (max-width: 1400px) {
  .hero-title {
    font-size: 2.8rem !important;
  }
}

@media (min-width: 1200px) and (max-width: 1400px) {
  .hero-wrapper {
    max-width: 61% !important;
  }
}

@media (min-width: 1001px) and (max-width: 1199px) {
  .hero-title {
    font-size: 2.6rem !important;
  }
}

@media (min-width: 1100px) and (max-width: 1200px) {
  .hero-image {
    width: 35% !important;
  }
}

@media (min-width: 800px) and (max-width: 1099px) {
  .hero-image {
    width: 32% !important;
  }
}

@media (min-width: 1000px) and (max-width: 1099px) {
  .hero-feature {
    font-size: 1.7rem !important;
  }
}

@media (min-width: 800px) and (max-width: 1000px) {
  .hero-title {
    font-size: 2rem !important;
    line-height: 3rem !important;
  }
}

@media (min-width: 772px) and (max-width: 880px) {
  .nav-text {
    font-size: 1rem !important;
  }
}

@media (min-width: 720px) and (max-width: 771px) {
  .nav-text {
    font-size: 0.8rem !important;
  }
}

@media (min-width: 799px) and (max-width: 999px) {
  .hero-feature {
    font-size: 1.3rem !important;
  }
}

@media (min-width: 721px) and (max-width: 799px) {
  .hero-feature {
    font-size: 1rem !important;
  }
}

@media (min-width: 721px) and (max-width: 799px) {
  .hero-image {
    width: 32% !important;
  }
}

@media (min-width: 721px) and (max-width: 799px) {
  .hero-title {
    font-size: 1.7rem !important;
    line-height: 2.2rem !important;
  }
}

@media (min-width: 721px) and (max-width: 799px) {
  .subscribe-form {
    width: 13rem !important;
  }
}

@media (min-width: 721px) and (max-width: 799px) {
  .subscribe-button {
    left: 12rem !important;
  }
}

@media (min-width: 800px) and (max-width: 999px) {
  .subscribe-button {
    left: 15rem !important;
  }
}

@media (max-width: 720px) {
  .navbar {
    padding-left: 1rem !important;
    padding-top: 2rem !important;
  }
}

@media (max-width: 720px) {
  .nav-item {
    display: none !important;
  }
}

@media (max-width: 720px) {
  .footer-info {
    display: block !important;
  }
}

@media (max-width: 720px) {
  .hero-container {
    padding-left: 1rem !important;
  }
}

@media (max-width: 720px) {
  br {
    display: none !important;
  }
}

@media (max-width: 720px) {
  .hero-image {
    position: absolute !important;
    display: block;
    top: 22rem !important;
    width: 26% !important;
    left: 12rem !important;
  }
}

@media (max-width: 720px) {
  .hero-title {
    width: 90vw !important;
    font-size: 2.4rem !important;
  }
}

@media (max-width:720px) {
  .hero-feature {
    font-size: 1.7rem !important;
  }
}

@media (max-width: 563px) {
  .hero-feature {
    font-size: 1.4rem !important;
  }
}

@media (max-width: 557px) {
  .hero-title {
    font-size: 2rem !important;
  }
}

@media (max-width: 502px) {
  .hero-title {
    font-size: 1.9rem !important;
    line-height: 2.8rem !important;
    /*width: 47vw;*/
  }
}

@media (max-width: 446px) {
  .hero-title {
    width: 100vw !important;
  }
}

@media (max-width: 401px) {
  .hero-title {
    font-size: 1.8rem !important;
    line-height: 3rem !important;
  }
}

@media (max-width: 479px) {
  .hero-feature {
    font-size: 1.2rem !important;
  }
}

@media (max-width: 422px) {
  .hero-feature {
    font-size: 1.1rem !important;
  }
}

@media (max-width: 394px) {
  .hero-feature {
    font-size: 1rem !important;
  }
}

@media (max-width: 376px) {
  .hero-feature {
    font-size: 0.9rem !important;
  }
}

@media (max-width: 351px) {
  .hero-title {
    font-size: 1.7rem !important;
  }
}

@media (max-width: 347px) {
  .hero-feature {
    font-size: 0.85rem !important;
  }
}

@media (max-width: 334px) {
  .hero-title {
    font-size: 1.6rem !important;
    line-height: 3rem !important;
  }
}

@media (max-width: 324px) {
  .hero-feature {
    font-size: 0.84rem !important;
  }
}

@media (max-width: 321px) {
  .hero-feature {
    font-size: 0.83rem !important;
  }
}

@media (max-width: 720px) {
  .go-down {
    display: none !important;
  }
}

@media (max-width: 720px) {
  .subscribe-container {
    padding-top: 7rem !important;
  }
}

@media (max-width: 600px) {
  .subscribe-container {
    padding-top: 12rem !important;
  }
}

@media (max-width: 550px) {
  .subscribe-container {
    padding-top: 16rem !important;
  }
}

@media (max-width: 550px) {
  .hero-image {
    width: 44% !important;
    left: 5rem !important;
  }
}

@media (max-width: 600px) {
  .hero-image {
    width: 47% !important;
  }
}

@media (max-width: 550px) {
  .hero-image {
    width: 64% !important;
  }
}

@media (max-width: 500px) {
  .subscribe-container {
    padding-top: 21rem !important;
  }
}

@media (max-width: 500px) {
  .hero-image {
    width: 80% !important;
    left: 3rem !important;
  }
}

@media (max-width: 450px) {
  .subscribe-container {
    padding-top: 12rem !important;
  }
}

@media (max-width: 450px) {
  .hero-image {
    width: 50% !important;
    top: 18rem!important;
    left: 4rem !important;
  }
}

@media (max-width: 375px) {
  .subscribe-container {
    padding-top: 18rem !important;
  }
}

@media (max-width: 375px) {
  .hero-image {
    width: 79% !important;
  }
}

@media (max-width: 720px) {
  .rectangle-shape {
    position: static !important;
    display: none !important;
  }
}

@media (max-width: 720px) {
  .subscribe-button {
    left: 25rem !important;
  }
}

@media (max-width: 700px) {
  .subscribe-button {
    left: 22rem !important;
  }
}

@media (max-width: 720px) {
  .subscribe-form {
    width: 65vw !important;
  }
}

@media (max-width: 565px) {
  .subscribe-button {
    left: 15rem !important;
  }
}

@media (max-width: 400px) {
  .subscribe-button {
    left: 12.7rem !important;
  }
}

@media (max-width: 375px) {
  .subscribe-button {
    left: 12rem !important;
    /*display: none;*/
  }
}

@media (max-width: 350px) {
  .subscribe-button {
    left: 12rem !important;
  }
}

@media (max-width: 360px) {
  .subscribe-form {
    width: 62vw !important;
  }
}

@media (max-width: 629px) {
  .hero-image {
    top: 23rem !important;
  }
}

@media (min-width: 558px) and (max-width: 629px) {
  .hero-image {
    top: 26rem !important;
  }
}

@media (min-width: 800px) and (max-width: 999px) {
  .subscribe-form {
    width: 17rem !important;
  }
}

@media (min-width: 1000px) {
  .subscribe-form {
    width: 24rem !important;
  }
}

@media (min-width: 1000px) {
  .subscribe-button {
    left: 23rem !important;
  }
}

@media (min-width: 721px) and (max-width: 768px) {
  .navbar {
    padding-left: 2rem !important;
  }
}

@media (min-width: 721px) and (max-width: 768px) {
  .hero-container {
    padding-left: 2rem !important;
  }
}

@media (min-width: 401px) and (max-width: 450px) {
  .hero-image {
    top: 23rem !important;
  }
}

@media (max-width: 768px) {
  .rectangle-long {
    width: 13% !important;
    /*top: 6rem !important;*/
  }
}

@media (max-width: 320px) {
  .rectangle-long {
    width: 8%;
  }
}

@media (max-width: 768px) {
  .core-features-title {
    margin-left: 2rem !important;
    font-size: 1.3rem !important;
  }
}

@media (max-width: 375px) {
  .core-features-title {
    margin-left: 2rem !important;
    font-size: 1.3rem !important;
  }
}

@media (max-width:320px) {
  .core-features-title {
    margin-left: 3rem !important;
    font-size: 1.2rem !important;
  }
}

@media (max-width: 768px) {
  .feature-wrapper {
    padding-left: 1rem !important;
    padding-top: 2rem !important;
  }
}

.core-features-title-2 {
  /*padding-left: 1rem !important;*/
  padding-top: 6rem !important;
}

@media (max-width: 768px) {
  .core-features-title-2 {
    /*padding-left: 1rem !important;*/
    padding-top: 2rem !important;
  }
}

@media (max-width: 375px) {
  .feature-wrapper {
    padding-left: 0rem !important;
    padding-top: 2rem !important;
  }
}

@media (max-width: 320px) {
  .feature-wrapper {
    padding-left: 0rem !important;
    padding-top: 2rem !important;
  }
}

@media (max-width: 849px) {
  .feature-row {
    padding: 3rem 0rem !important;
    /*box-shadow: none !important;*/
    /*margin-top: 2rem !important;*/
    /*margin-right: 0rem !Important;*/
  }
}

@media (max-width: 768px) {
  .feature-row {
    padding: 0 !important;
    box-shadow: none !important;
    margin-top: 2rem !important;
    margin-right: 0rem !Important;
  }
}

@media (max-width: 375px) {
  .feature-row {
    padding: 0 !important;
    box-shadow: none !important;
    margin-top: 2rem !important;
    margin-right: 0rem !Important;
  }
}

@media (max-width: 320px) {
  .feature-row {
    padding: 0 !important;
    box-shadow: none !important;
    margin-top: 2rem !important;
    margin-right: 0rem !Important;
  }
}

.core-features-small-title {
  margin-left: 0 !important;
  font-size: 1.6rem !important;
}

@media (max-width: 768px) {
  .feature-column {
    margin-bottom: 1rem !important;
    flex-basis: unset !important;
  }
}

@media (max-width: 375px) {
  .feature-column {
    margin-bottom: 1rem !important;
    flex-basis: unset !important;
  }
}

@media (max-width: 768px) {
  .feature-small-text {
    font-size: 1rem !important;
    /*flex-basis: unset !important;*/
  }
}

@media (max-width: 375px) {
  .feature-small-text {
    font-size: 0.9rem !important;
    /*flex-basis: unset !important;*/
  }
}

@media (max-width: 768px) {
  .feature-big-title {
    font-size: 1.4rem !important;
    /*flex-basis: unset !important;*/
  }
}

@media (max-width: 375px) {
  .feature-big-title {
    font-size: 1.3rem !important;
    /*flex-basis: unset !important;*/
  }
}

@media (max-width: 320px) {
  .feature-column {
    margin-bottom: 1rem !important;
    flex-basis: unset !important;
  }
}

@media (max-width: 320px) {
  .feature-container {
    margin-top: 5rem !important;
  }
}

@media (max-width: 375px) {
  .rectangle-long {
    width: 8% !important;
  }
}

@media (min-width: 1024px) {
  .padding-space-1 {
    padding-bottom: 0.4rem !important;
  }
}

.rectangle-six {
  position: absolute;
  right: 40rem;
  top: 0rem;
  width: 3%;
}

.rectangle-seven {
  position: absolute;
  right: 0;
}

@media (min-width: 1024px) {
  .padding-space-2 {
    padding-bottom: 0.4rem !important;
  }
}

.rectangle-long-2 {
  top: 7rem;
  width: 25%;
}

@media (max-width: 768px) {
  .rectangle-long-2 {
    top: 3rem;
    width: 38%;
  }
}

.contact-wrapper {
  margin-top: 1rem;
}

.footer-text {
  color: #3a3b4a !important;
  font-weight: 600;
  font-size: 1.2rem !important;
}

@media (max-width: 768px) {
  .footer-text {
    font-size: 1rem !important;
  }
}

.google-icon {
  width: 31%;
}

.apple-icon {
  width: 27%;
}

.coming-soon-wrapper {
  /*width: 100%;*/
}

@media (max-width: 1440px) {
  .footer-coming-soon-text {
    font-size: 1.1rem !important;
    padding-right: 0rem !important;
    padding-left: 15rem !important;
    text-align: left !important;
  }
}

@media (max-width: 1200px) {
  .footer-coming-soon-text {
    font-size: 1.1rem !important;
    padding-right: 0rem !important;
    padding-left: 10rem !important;
    text-align: left !important;
  }
}

@media (max-width: 947px) {
  .footer-coming-soon-text {
    font-size: 1.3rem !important;
    padding-right: 0 !important;
    padding-left: 0rem !important;
    text-align: left !important;
  }
}

@media (max-width: 947px) {
  .coming-soon-wrapper {
    /*font-size: 2.7rem !important;*/
    /*padding-right: 0 !important;*/
    /*padding-left: 0rem !important;*/
    text-align: left !important;
  }
}

@media (max-width: 947px) {
  .apple-icon {
    /*font-size: 2.7rem !important;*/
    /*padding-right: 0 !important;*/
    /*padding-left: 0rem !important;*/
    width: 36%;
  }
}

@media (max-width: 947px) {
  .google-icon {
    /*font-size: 2.7rem !important;*/
    /*padding-right: 0 !important;*/
    /*padding-left: 0rem !important;*/
    width: 42%;
  }
}

.footer-coming-soon-text {
  font-family: 'Gilroy';
  font-weight: 700;
  font-size: 0.8rem;
  /*margin-left: 10rem !important;*/
  color: #191bb4;
  /*#2b2ee9;: 500;*/
  position: relative;
  /*margin-right: 5rem;*/
  /*width: 28%;*/
  padding-right: 10.8rem;
}

